@media (max-width: 630px) {
    .certification-square .certification {
        width: 100%;
        height: 100%;
    }

    .body, section {
        width: 100vw;
    }

    #button-downcv {
        display: none;
    }

    .main-banner .wrapper {
        width: 50%;
       padding-left: 10px;
       font-size: 10px;
       padding-bottom: 0;
       padding-top: 10px;
    }

.main-banner .main-box {
    margin-bottom: 20px;
}

    .main-box {
        height: 100px;
        padding: 10px ;
    }

    .main-box .main-title {
        margin-bottom: 15px;
    }

    .main-title, .main-subtitle {
        font-size: 18px;
    }

    .main-banner {
        height: auto;
    }

    .button-nav {
        padding: 12px 11px;
        margin-bottom: 5px;
    }

    .title-skill, .title-project, .title-about, .title-contact {
       font-size: 30px;
    }

    .wrapper-skill .skill-tec {
        width: 90%;
        margin-right: 0;
        margin-left: 20px;
    }

    .wrapper-skill .progress-bar {
        width: 200px;
    }
    
    .wrapper-card {
        flex-direction: column;
        align-items: center;
    }

    .wrapper-card a {
        margin-bottom: 25px;
    }

    .main-description {
        padding-left: 30px;
        padding-right: 30px;
    }

    .main-form {
        padding: 50px 25px;
    }

    .main-footer .actions {
            margin: 0;
    }

}
