.main-section {
    background-color: #FFA07A;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #01B2AC;
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-bgBlack {
    background-color: black;
}

.main-section.-bdFirst {
    border-color: #9B004a;
}

.main-section.-bgSecond {
    background-color: #01B2AC;
}

.main-section.-bdBlack {
    border-color: #000 ;
}