.main-button {
    display: inline-block;
    background-color: #00a519;
    box-shadow: 5px -5px 0 black;
    padding: 18px 20px;
    margin-right: 0;
    transition: transform 200ms cubic-bezier(0.33, 0.44, 0.5, 0.9);
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #fff;
}

.main-button:hover {
    transform: scale(0.9);
}