.logo {
    font-family: "Press Start 2P", sans-serif;
    color: #00a519;
    text-shadow: 2px -2px 0 #000;
}

.main-title {
    font-family: "Press Start 2P", sans-serif;
    font-size: 40px;
    color: #00a519;
    text-shadow: 4px 4px 0 #000;

}

.main-title.-second {
    color: #fff;
    text-shadow: none;
    text-align: center;
}

.skill-tec .title {
    font-family: "Press Start 2P", sans-serif;
    margin-bottom: 10px;
}

